*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

:root{
    --bg-color: whitesmoke;
    --second-bg-color: white;
    --text-color: rgb(49, 48, 48);
    --main-color: rgb(42, 42, 167);
    --other-color: grey;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.heading-description{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}